@font-face {
  font-family: Plus-Jakarta-Sans;
  src: url(./assets/fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Plus-Jakarta-Sans;
  src: url(./assets/fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Plus-Jakarta-Sans;
  src: url(./assets/fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 700;
}

:root {
  --primary: #22223d;
  --secondary: #484a69;
  --nav-header: #111111;
  --music-genre: #e1f4fb;
  --fav-icon: #bf508b;
  --nav-background: #f5f6f7;
}

body {
  margin: 0;

  font-family: 'Plus-Jakarta-Sans';
  font-weight: 400;
}

div,
header {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  margin-bottom: 1.375rem;

  font-size: 2.25rem;
  font-weight: 700;
  line-height: 130%;

  color: var(--primary);
}

h2 {
  margin-bottom: 1.5rem;

  font-size: 1.75rem;
  font-weight: 700;
  line-height: 120%;

  color: var(--primary);
}

h3 {
  margin-bottom: 0.25rem;

  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;

  color: var(--primary);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
}
